.day {
  text-align: right;
  padding: 2px;
}

.day:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.weekend {
  color: tomato;
}

.national-holiday {
  color: blue;
}

.vacation {
  color: green;
}

.before-schema,
.after-schema {
  color: #ddd;
  pointer-events: none;
}

.today {
  text-decoration: underline;
}

/** TODO: Has .vacation/.holiday/.dayoff and .weekend */
